.user-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.user-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.user-item img {
  width: 100px;
  height: 100px;
}
